body{
    background-color: bisque;
}
.Flex-Container{
flex-wrap: 1;
flex-grow: 1;
flex-shrink: 100px;
}
.item1{
    background-color: blueviolet;
    color: white;
    font-style: italic;
    padding: auto;
}
.item{
    background-color: blueviolet;
    color: white;
    font-style: italic;
    padding: auto;
}